@use '../vars' as c;

.Header {
  width: 100%;
  height: 60px;
  background-color: c.$turquesoide;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #000;
  h1 {
    cursor: pointer;
  }
  &-menu {
    position: absolute;
    left: 3rem;
  }
  &-login {
    position: absolute;
    right: 1rem;
    top: 1.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    &__logout, &__login{
      cursor: pointer;
    }
    &__logout:hover, &__login:hover{
      text-decoration: underline;
    }
    p {
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .Header-login__email  {
    display: none;
  }
}
