.Detail {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  p {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  p:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}