@use '../vars' as c;

.SearchResult {
  h2 {
    margin-top: 30px;
    color: c.$turquesoide;
    font-size: 2.6rem;
  }
  &-nav {
    text-align: center;
    p {
      position: absolute;
      right: 3rem;
      top: 8rem;
      font-size: 1.5rem;
    }
    p:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}